html {
  width: 100%;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

.page {

  margin: 0 auto;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-gap);
  font-size: var(--main-text-size);
}

@supports (block-size: 100dvh) {
  .header {
    block-size: 100dvh;
  }
}

.header__rec {
  position: absolute;
  inset-inline-end: calc(var(--main-gap) + 8px);
  inset-block-start: var(--main-gap);
  color: var(--accent-color);
  line-height: 1.388;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 7px;
  block-size: 7px;
  margin-inline-start: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px 3px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: var(--main-gap);
}

.header__theme-menu-button {
  position: relative;
  display: block;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--nav-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color, rgb(255 0 112 / 0.4));
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__logo {
  justify-self: start;
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  font-weight: bold;
  color: var(--title-text-color);
  max-inline-size: 50%;
  max-inline-size: 364px;
  max-block-size: 117px;
  justify-self: end;
  align-self: center;
  background-color: var(--accent-color);
}

.footer {
  min-block-size: 100vh;
  position: relative;
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer__logo {
  color: var(--footer-logo-color);
  font-size: var(--footer-logo-size);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.title-decor {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
}

.content {
  padding: calc(4 * var(--main-gap) var(--main-gap));
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.content-section:not(:last-of-type) {
  margin-block-end: calc(5 * var(--main-gap));
}

.content-section__title {
  margin-block-end: calc(2 * var(--main-gap));
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.text-block {
  margin-block-start: calc(2 * var(--main-gap));
}

.text-block__heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.text-block__main-content {
  color: var(--main-text-color);
}

.text-block__subheading {
  margin-block-start: calc(2 * var(--main-gap));
  font-weight: normal;
}

.text-block__paragraph {
  color: var(--main-text-color);
  margin-block-start: var(--main-gap);
  line-height: var(--main-line-height);
}

.grid-heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.why {
  display: grid;
  grid-template-columns: 33% 67%;
  padding-inline-end: var(--main-gap);
  padding-block-start: 60px;
  margin: 0 20px;
}

.what {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.how {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(2 * var(--main-gap));
  margin-block-start: calc(2 * var(--main-gap));
}

.grid-heading {
  grid-column: 1 / -1;
  margin-block-end: calc(2 * var(--main-gap));
}

.grid__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.grid__image:first-of-type {
  grid-column: span 2;
  min-block-size: 260px;
}

.grid__image:nth-of-type(2) {
  grid-column: 3;
  grid-row: span 2;
  min-block-size: 595px;
}

.grid__image:nth-of-type(3) {
  grid-column: 1;
  grid-row: span 2;
  min-block-size: 768px;
}

.grid__image:nth-of-type(4) {
  grid-column: 2;
  min-block-size: 315px;
}

.grid__image:nth-of-type(5) {
  grid-column: 2 / span 2;
  min-block-size: 428px;
}

@media (min-width: 1024px) {
  .header__logo {
    line-height: 0.825;
  }

  .header__paragraph {
    line-height: var(--main-line-height);
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: var(--main-gap);
  }
}

@media (width <= 560px) {
  .header {
    padding: var(--main-gap);
  }

  .header__logo {
    margin-left: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__paragraph {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .why {
    margin: 0px 10px;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .what {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-inline-end: 0;
    padding-block-end: 50px;
    min-inline-size: 355px;
  }

  .text-blocks-why {
    display: flex;
    flex-direction: column;
  }

  .how {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--main-gap));
    padding-block-end: 50px;
  }

  .grid {
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
  }

  .grid-heading {
    margin: 0 10px 10px 10px;
  }

  .grid__image {
    block-size: auto;
    max-block-size: 50vh;
    min-block-size: 200px;
  }

  .footer {
    padding: var(--main-gap);
    display: flex;
    justify-content: center;
  }

  .footer__logo {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__rec {
    margin: var(--main-gap);
  }

  .decorated-zone::before {
    margin: var(--main-gap);
  }

  .decorated-zone::after {
    block-size: 25px;
    margin: var(--main-gap);
  }
}
